<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhân viên</title>
</head>
<body>
    <?php
        echo '<h2 style="text-align: center">Danh sách nhân viên:</h2>';
        if (!empty($staffList)) {
            echo '<table border = "1" width ="100%" align="center">';
            echo '<tr><th>IDNV</th><th>Tên nhân viên</th><th>IDPB</th><th>Địa chỉ</th><th></th></tr>';
            foreach ($staffList as $i => $staff) {
                echo "<tr>";
                echo "<td> $staff->IDNV </td>";
                echo "<td> $staff->Hoten </td>";
                echo "<td> $staff->IDPB </td>";
                echo "<td> $staff->Diachi </td>";
                echo "<td colspan='5'><a href='?del=" .$staff->IDNV. "'>Xóa</a></td>";
                echo "</tr>";
            }
            echo '</table>';
        }
    ?>
</body>
</html>