<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách phòng ban cập nhật</title>
</head>
<body>
    <?php
        echo '<h2 style="text-align: center">Danh sách phòng ban:</h2>';
        if (!empty($departmentList)) {
            echo '<table border = "1" width ="100%" align="center">';
            echo '<tr><th>IDPB</th><th>Tên phòng ban</th><th>Mô tả</th><th>Cập nhật</th></tr>';
            foreach ($departmentList as $i => $department) {
                echo "<tr><td> $department->IDPB </td>";
                echo "<td> $department->Tenpb </td>";
                echo "<td> $department->Mota </td>";
                echo "<td><a href='?updateForm=". $department->IDPB ."'>Cập nhật</a></td>";
            }
            echo '</table>';
        }
    ?>
</body>
</html>